.carousel {
    position: relative;
    width: 100%;
    /* max-width: 900px; */
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 1s ease;
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .carousel-item img {
    width: 100%;
    display: block;
  }
  
  .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
  }
  
  .carousel-control-prev {
    left: 10px;
  }
  
  .carousel-control-next {
    right: 10px;
  }
  
  .carousel-control-prev i, .carousel-control-next i {
    font-size: 30px;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .carousel-indicators span {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-indicators .active {
    background-color: white;
  }