<div class="carousel">
    <div class="carousel-inner" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
      <div *ngFor="let item of items" class="carousel-item">
        <img [src]="item" alt="Image">
      </div>
    </div>
    <a class="carousel-control-prev" (click)="prev()">
      <i class="fa fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next" (click)="next()">
        <i class="fa fa-chevron-right"></i>
    </a>
    <div class="carousel-indicators">
      <span *ngFor="let item of items; let i = index" [class.active]="i === currentIndex" (click)="goToSlide(i)"></span>
    </div>
  </div>