.container {
    position: relative;
    overflow: hidden; /* Prevents scrollbar */
    height: 200px; /* Adjust height as needed */
  }
  
  .rectangle {
    width: 260px;
    height: 90px;
    background-color: grey;
    position: absolute;
    border-radius: 8px;
    top: 20px; /* Adjust this value as needed */
    right: 20px; /* Start off-screen */
    transition: transform 1s ease-in-out;
    transform: translateX(0);
  }
  
  .rectangle.visible {
    transform: translateX(-220px); /* Brings the rectangle into view */
  }


  .deco {
    background-color: #333;
    height: 100%;
    width: 12%;
  }
  