.pdf-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:  95%;
  height: 90%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none; /* Initialement caché */
}

.pdf-container.visible {
  display: block; /* Afficher lorsque visible */
}

.close-button {
  position: absolute;
  top: -30px; /* Positionné au-dessus du PDF */
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #616161;
  cursor: pointer;
}